.item {
}

.item:last-of-type {
}

.users {
}

.buttonsContainer {
}

.container {
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    gap: 20px;
}

.thead {
    background-color: #434643;
}

.nameCol {
}

.ageCol {
}