.friendMessage {

}

.friendImageAndText {
    display: flex;
    align-items: center;
    gap: 10px;
}

.friendImageAndText img {
    width: 50px;
}

.friendText {
    width: 414px;
    padding: 10px;
    margin-bottom: 20px;
    background-color: #F5F7FB;
    border-radius: 20px 20px 20px 0px;
}

.friendText:after {

}

.friendName {
    font-weight: 600;
}

.friendMessageText {

}

.friendTime {
    display: flex;
    font-size: 10px;
    font-weight: 600;
    justify-content: center;
    width: 50px;
    margin-top: -5px;

}
