.greetingForm {
    padding: 100px 0;

    display: flex;
    flex-direction: column;

}

.inputAndButtonContainer {

    display: flex;
    align-items: start;
}

.error {
    color: #cc0000;
}

.input {
    width: 20px;
}

.input:focus {
}

.errorInput {
    border-color: red;
    color: red;
}

.button {
    width: 80px;
    height: 20px;
    border-radius: 10px;
    margin-left: 10px;
    border: none;
    color: #FFFFFF;
    background-color: #0059b3;
}

.button:focus {
}

.button:active {
}

.button:disabled {
}

.text {
}

.greeting {
}
